body {
  background-color: #0E2C04;
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');
}

ul {
  /* display: block; */
  /* list-style-type: disc; */
  /* margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px; */
}

.navigation {
  position: relative;
  /* margin: 0;
  padding-left: 0; */
  list-style: none;
  text-align: right;
  /* width: 50%; */
}

.navLi {
  cursor: pointer;
  margin-top: 2rem;
}

.navLi:hover a {
  color: #0E2C04; 
  opacity: .5;
}

.navigation a {
  position: relative;
  color: #0E2C04;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  font-size: 5vw;
  letter-spacing: .02em;
  line-height: .9em;
  transition: color .5s,opacity .5s;
}

header h1, h2, img {
  margin: 0;
}

h1 {
  margin: 0;
  color: #0E2C04;
}

img {
  height:auto;
  width: auto;
}
