/* body {
  background-color: #0E2C04;
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
} */

/* body {
	background: linear-gradient(-45deg, #0E2C04, #26730a, #144104);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  font-family: 'JetBrains Mono', monospace;
  margin: 0;
} */

/* darkmode */
/* body {
	background: linear-gradient(-45deg, #000000, #4b5548, #000000);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  font-family: 'JetBrains Mono', monospace;
  margin: 0;
} */
/* look into css modules */

/* lightmode */
body {
	background: linear-gradient(-45deg, #41583a00, #114502d7, #01460100);
	background-size: 400% 400%;
  overflow: hidden;
	animation: gradient 15s ease infinite;
  font-family: 'JetBrains Mono', monospace;
  margin: 0;
}

/* purple? */
/* body {
	background: linear-gradient(-45deg, #5400e66b, #481074d7, #6647c48c);
	background-size: 400% 400%;
  overflow: hidden;
	animation: gradient 15s ease infinite;
  font-family: 'JetBrains Mono', monospace;
  margin: 0;
} */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');
}

/* lightmode */
/* .backgroundBox {
  margin: 2.5vh;
  padding: 30px;
  height: 95vh;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #f0f0f0;
  opacity: 0.5;
  display: flex;
  justify-content: space-between;
} */

/* darkmode */
.backgroundBox {
  margin: 2.5vh;
  /* padding: 30px; */
  padding: 5vh;
  height: 95vh;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #0E2C04;
  opacity: 0.2;
  display: flex;
  justify-content: space-between;
  box-shadow: 10px 10px 10px rgb(10, 0, 0);
}

.typewrite {
  font-size: 2vw;
  margin-bottom: 1rem;
}

.navigation {
  position: relative;
  margin: 0;
  padding-left: 0;
  list-style: none;
  text-align: right;
}

.navigation a {
  position: relative;
  color: #0E2C04;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  font-size: 5vw;
  letter-spacing: .02em;
  line-height: .9em;
  transition: color .5s,opacity .5s;
}

.navigation button {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'JetBrains Mono';
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 5vw;
  letter-spacing: .02em;
  line-height: .9em;
  transition: color .5s, opacity .5s;
  border: none;
  background-color: transparent;
}

.navLi {
  cursor: pointer;
  margin-top: 2rem;
}

.navLi button:hover {
  color: #FFFFFF;
  opacity: 1;
}

.navLi button {
  color: transparent;
  padding: 0;
  text-shadow: 0px 2px 0px rgba(255,255,255,.5);
}


.skills {
  position: relative;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.skillsLi {
  cursor: pointer;
  margin-bottom: 2rem;
}

/*lightmode*/
/* .navLi button:hover {
  color: #0E2C04;
  opacity: .5;
} */

/*darkmode*/

.skillsLi button:hover {
  color: #FFFFFF;
  opacity: 1;
}

.skillsLi button {
  color: transparent;
  padding: 0;
  text-shadow: 0px 2px 0px rgba(255,255,255,.5);
}

.skills button {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'JetBrains Mono';
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 2.5vw;
  letter-spacing: .02em;
  line-height: .9em;
  transition: color .5s, opacity .5s;
  border: none;
  background-color: transparent;
}

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

img:hover {
  opacity: .5;
}

/*light*/
/* header, h1, h2, img, p, li, button {
  margin: 0;
  color: #0E2C04;
} */

/*dark*/
header, h1, h2, img, p, li, button {
  margin: 0;
  color: #ffffff;
  transition: color .5s, opacity .5s;
  opacity: 1;
}

h1 {
  margin: 0;
  font-size: 3vw;
}

.info-list {
  list-style: none;
}

.info-list li {
  font-size: 1.7vw;
  margin-top: 2rem; 
}