body {
  background-color: #0E2C04;
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/ttf/JetBrainsMono-Regular.ttf') format('truetype');
}

.navigation {
  position: relative;
  margin: 0;
  padding-left: 0;
  list-style: none;
  text-align: right;
}

.backgroundBox {
  margin: 2.5vh;
  padding: 30px;
  height: 95vh;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #f0f0f0;
  opacity: 0.5;
  display: flex;
  justify-content: space-between;
}

.navLi {
  cursor: pointer;
  margin-top: 2rem;
}

.navLi a:hover {
  color: #0E2C04;
  opacity: .5;
}

.navLi button:hover {
  color: #0E2C04;
  opacity: .5;
}

.navigation a {
  position: relative;
  color: #0E2C04;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  font-size: 5vw;
  letter-spacing: .02em;
  line-height: .9em;
  transition: color .5s,opacity .5s;
}

.navigation button {
  position: relative;
  color: #0E2C04;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'JetBrains Mono';
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-size: 5vw;
  letter-spacing: .02em;
  line-height: .9em;
  transition: color .5s, opacity .5s;
  border: none;
  background-color: transparent;
}

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

header h2, img, p {
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 3vw;
  color: #0E2C04;
}

img {
  height:auto;
  width: auto;
}

.info-list {
  list-style: none;
}

.info-list li {
  font-size: 1.7vw;
  margin-top: 2rem; 
}